<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Get off my back"/>
    <meta name="author" content="Richard Selneck"/>
    <title>Somesi</title>
    <link rel="shortcut icon" href="/img/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/somesi.css"/>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Somesi</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <div id="navbar-data" class="navbar-right">
          </div>
          <div id="navbar-follow" class="navbar-right">
          </div>
        </div>
      </div>
    </nav>

    <div class="hidden">
      {{#if error}}
      <div  id="initial-error"
            data-message="{{error}}">
      </div>
      {{/if}}
      {{#if account}}
      <div  id="account-info"
            data-id="{{account.id}}"
            data-username="{{account.username}}">
      </div>
      {{/if}}
    </div>

    <div class="container">
      <!-- Profile info data from handlebars -->
      <div  id="profile-info"
            data-exists="{{profile.exists}}"
            data-has-posts="{{profile.hasPosts}}"
            data-user="{{profile.username}}"
            data-id="{{profile.id}}"
            class="hidden">
      </div>

      <div class="col-md-2"></div>
      <div class="col-md-8">
        <!-- Error and info message containers -->
        <div id="info-container">
          <div class="alert alert-info" role="alert">
            <button type="button" class="close info-close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <p id="info-message"></p>
          </div>
        </div>
        <div id="error-container">
          <div class="alert alert-danger" role="alert">
            <button type="button" class="close error-close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <p id="error-message"></p>
          </div>
        </div>

        <!-- Posts container -->
        <div id="posts"></div>
      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="container">
      <footer>
        <hr />
        <p>&copy; 2017 Richard Selneck</p>
      </footer>
    </div>

    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/react.min.js"></script>
    <script type="text/javascript" src="/js/react-dom.min.js"></script>
    <script type="text/javascript" src="/js/profile-bundle.js"></script>
  </body>
</html>
